# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\编程猫\Desktop\Python源码开发者-课程资料（1-48）\【42】病毒狙击手-课程资料\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
